name: tests

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
        with:
          python-version: "3.12"
          enable-cache: true
      - name: Install deps
        run: |
          uv venv
          uv pip install -e ".[testing,metrics]"
      - name: Run lint
        run: make lint

  tests:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
        with:
          python-version: "3.12"
          enable-cache: true
      - name: Install deps
        run: |
          uv venv
          uv pip install -e ".[testing,metrics]"
      - name: Run tests
        run: uv run pytest
